* {
  margin: 0px;
  font-family: 'Bree Serif';
}

.bg-main-con {
  background: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-con {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: 800;
  color: #1e293b;
}

.search-con {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7b8794;
  padding: 8px;
  margin-top: 30px;
  border-radius: 5px;
}

.input-sty {
  width: 45vw;
  border: none;
  outline: none;
  background: transparent;
  font-size: 12px;
}

.img-sty {
  height: 20px;
  width: 20px;
}

.tabItems-con {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.appItem-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  list-style-type: none;
  margin-top: 20px;
}
